@media(max-width: 600px) {
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        alignment: center;
        width: 100vw;
    }
    .nav-section{
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
    .card-avatar{
        max-width: 80px;
        border-radius: 100%;
        margin: 20px;
    }
}


:root{

}
*{
    font-family: "Apple SD Gothic Neo", sans-serif;
}
hr{
    margin: 0;
    padding: 0;
}
h1, h3, p{
    margin: 1vh 1vw;
}
body{
    margin: 0;
}
.flex{
    display: flex;
}
.col{
    flex-flow: column;
}
.row{
    flex-flow: row;
}
.sbt{
    justify-content: space-between;
}
.se{
    justify-content: space-evenly;
}
.center{
    justify-content: center;
}
/*Nav start*/
.nav-container{
    background: whitesmoke;
    background-size: cover;
    justify-content: space-between;
    font-size: large;
    position: fixed;
    position: -ms-device-fixed;
    width: 100vw;
    z-index: 1000;
    display: flex;
}

.nav-section{
    margin: 15px 10px;

}
#nav-section-2{
    margin: 20px 10px;
}
.nav-link{
    text-decoration: none;
    color: black;
    margin: 5px 20px;
    padding: 10px;
    z-index: 1001;
    border-radius: 20px;
}
a {
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
}
header{
    font-size: x-large;
    font-weight: bold;
    margin: 0 10px;
}
.contact-card-header {
    justify-content: space-between;
    width: 100vw;
}
.github-ref {
    display: flex;
}
.content-section{
    width: 90vw;
    margin: auto;
    padding: 10px;
}
h4 {
    margin: 0;
    font-size: x-large;
}
main{
    flex-flow: column;
    height: 100vh;
    width: 100vw;
}
.main-container{
    padding: 10px;
    z-index: 0;
}
.spacer{
    height:80px;
}
.section-card{
    margin: 10px 0;
    z-index: 0;
    box-shadow: 0 2px 40px 7px lightslategray;
    position: -webkit-sticky;
    border-radius: 12px;
}
/*About section*/
.card-avatar{
    max-height: 170px;
    max-width: 170px;
    border-radius: 100%;
    margin: 10px 20px 0 0;
}
.small{
    font-size: small;
}
#about{

}
/*end About section*/

/*Sections*/
.project{
    width: 43vw;
}
.project img{
    width: 43%;
    position: absolute;
}
.project:hover{

    cursor: pointer;
}
.card-details{
    margin: 5vh 0;
    float: left;
    max-width: 50vw;
    background: rgba(39, 80, 150, 0.96);
    padding: 5px;
    z-index: 1;
    font-size: 85%;
}
.card-header{
    padding: 10px;
}
/*.project-image{*/
/*    left: 0;*/
/*    max-width: %;*/
/*    height: auto;*/
/*    z-index: 0;*/
/*}*/
#projects{
    max-height:100vh;
}

#project-1{
    background-image: url("../images/img.png");
    background-size: cover;
}
#project-2{

}
#contact{

}
/*End Sections*/
/*Cards*/
#about-section-3{
}
#about-section-card{
    width: auto;
    padding: 2rem;
}
#about-section-1{
    display: flex;
    float: left;
}
/*End Cards*/



#project-1-container{
    max-height: 100vh;
    width: 100vw;

}
#project-1{
    height: 30vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}
#projects-container{
    justify-content: space-between;
    flex-wrap: wrap;
    }
.skills-icon {
    max-height: 90px; max-width: 90px; display: flex;
}